# Ignore the previous version folder
prev_ver/

# Ignore typescript build info file
.tsbuildinfo

# Ignore Python stuff in case it expands
__pycache__/

# Ignore node modules
node_modules/

# ignore package-lock
package-lock.json

